.container-card {
  margin-top: 20px;
  padding: 10px;
}

.header-card table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.header-card th,
.header-card td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.header-card th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.header-card tr:nth-child(even) {
  background-color: #f9f9f9;
}

.header-card tr:hover {
  background-color: #e6f7ff;
}

h2 {
  margin-bottom: 10px;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sin-info {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
    margin-top: 100px;
    padding: 10px;
    font-family: var(--font-family);
    color: #555;
}


/* Modal para ver  */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  max-width: 80%;
  max-height: 700px;
  height: 80%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 10px 10px 15px 10px;
  p{
    margin: 20px 0px;
  }
}

.modal-content h3 {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--background-color-header);
  color: white;
  height: 40px;
  padding: 10px;
  margin: 0;
  border-radius: 10px 10px 0px 0px;
}

.modal-content h4 {
  background-color: var(--background-color-header);
  color: white;
  height: 10px;
  padding: 10px;
  width: 90%;
}


.truncate {
  max-width: 300px; /* ajustá al ancho que necesites */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.modal-content-display{
  display: grid;
  grid-template-columns: 1fr 1fr;
}



/* Modal para borrar */
.modal-deleted-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content-deleted h4 {
  color: black;
  height: 10px;
  padding: 10px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-buttons-deleted  {
  display: flex;
  align-items: center;
  justify-content: center;
  
  button{
    margin-top: 30px;
    margin:20px;
    padding: 15px 20px;
    border: none;
    background-color: #004d74;
    color: white;
    border-radius: 6px;
    cursor: pointer;

    &:hover{
      background-color: #004d74a8;
    }
  }
}

.modal-content-deleted {
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  max-width: 700px;
  max-height: 800px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 10px 10px 15px 10px;
  p{
    margin: 20px 0px;
  }
}

svg{
    cursor: pointer;

    &:hover{
      background-color: #004d74a8;
      border-radius: 50%;
    }
}


/* Ajuste para mobile */
@media (max-width: 768px) {
    .personal-information,
    .grid-1,
    .grid-2,
    .medical-history .container-med,
    .sport,
    .registro-alimentario {
        display: block; /* todo apilado */
    }

    input, textarea, select, label {
        width: 100%; /* ocupan todo el ancho */
        margin-bottom: 10px; /* separacion entre campos */
    }

    .blood-analisis div,
    .recent-studies div,
    .suplementation div {
        display: flex;
        flex-direction: row; /* radios alineados horizontal */
        gap: 10px;
    }

    .button-send {
        text-align: center;
        margin-top: 20px;
    }

    .title-form h2 {
        font-size: 1.2rem; /* ajustar tamaño títulos */
    }
}
