.personal-information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;

    h2{
        grid-column: span 2;
        background-color: var(--background-color-header);
        width: fit-content;
        padding: 10px 20px;
        color: var(--color-title);
        width: 30%;
    }

    label{
        font-size: 1.2rem;
        font-weight: bold;
        font-family: var(--font-family);
        margin: 10px;
    }

    input{
        height: 30px;
        font-size: 1rem;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px;
        width: 80%;
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.76);
    }
    .grid-1, .grid-2{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.motive{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    h2{
        background-color: var(--background-color-header);
        width: fit-content;
        padding: 10px 20px;
        color: var(--color-title);
         width: 30%;
    }

    textarea{
        width: 90%;
        height: 10rem;
        font-size: 1rem;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 10px;
        resize: vertical;
        margin: 10px;
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.76);
    }
}

.medical-history{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .container-med{
        display: flex;
        flex-direction: column;
        gap:15px;
        width: 90%;
    }

    .blood-analisis{
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        align-items: center;
        margin-bottom: 15px;
    }

    .recent-studies{
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        align-items: center;
        margin-bottom: 15px;
    }

    h2{
        background-color: var(--background-color-header);
        width: fit-content;
        padding: 10px 20px;
        color: var(--color-title);
        width: 30%;
    }
    label{
        font-size: 1.2rem;
        font-weight: bold;
        font-family: var(--font-family);
        margin: 10px;
    }

    input[type="text"]{
        height: 30px;
        font-size: 1rem;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px;
        width: 100%;
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.76);
    }

    input[type="radio"]{
        display: none;
    }

    span{
        font-size: 1.2rem;
        padding: 7px;
        border: 2px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px;
    }
    input[type="radio"]:checked + span {
        background-color: var(--background-color-header);
        color: white;
        border-color: white;
        border-radius: 5px;
        padding: 7px;
        box-sizing: border-box;  
    }
    textarea{
        width: 100%;
        height: 10rem;
        font-size: 1rem;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 10px;
        resize: vertical;
        margin: 10px;
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.76);
    }
}

.sport{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;

    .suplementation{
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        align-items: center;
        margin-bottom: 15px;
    }

    h2{
        background-color: var(--background-color-header);
        width: fit-content;
        padding: 10px 20px;
        color: var(--color-title);
        width: 30%;
    }
    .calendario{
        display: flex;
        flex-direction: column;
        gap:15px;
        width: 90%;

        h2{
            background-color: var(--background-color-header);
            width: fit-content;
            padding: 10px 20px;
            color: var(--color-title);
            width: 33%;
        }
    }


    label{
        font-size: 1.2rem;
        font-weight: bold;
        font-family: var(--font-family);
        margin: 10px;
    }

    input[type="text"]{
        height: 30px;
        font-size: 1rem;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px;
        width: 91%;
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.76);
    }

    input[type="radio"]{
        display: none;
    }

    span{
        font-size: 1.2rem;
        padding: 7px;
        border: 2px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px;
    }
    input[type="radio"]:checked + span {
        background-color: var(--background-color-header);
        color: white;
        border-color: white;
        border-radius: 5px;
        padding: 7px;
        box-sizing: border-box;
    }

    textarea{
        width: 100%;
        height: 10rem;
        font-size: 1rem;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 10px;
        resize: vertical;
        margin: 10px;
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.76);
    }

}

.registro-alimentario{
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 90%;

    h2{
        background-color: var(--background-color-header);
        padding: 10px 20px;
        color: var(--color-title);
        width: 33%;
    }

    label{
        font-size: 1.2rem;
        font-weight: bold;
        font-family: var(--font-family);
        margin: 10px;
    }

    textarea{
        width: 100%;
        height: 5rem;
        font-size: 1rem;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 10px;
        resize: vertical;
        margin: 10px;
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.76);
    }

    label{
        font-size: 1.2rem;
        font-weight: bold;
        font-family: var(--font-family);
        margin: 10px;
    }

    input[type="text"]{
        height: 30px;
        font-size: 1rem;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px;
        width: 100%;
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.76);
    }
}

.button-send{
    display: flex;
    justify-content: center;
    align-items: center;

    button{
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 20px 30px;
        font-size: 1.5rem;
        background-color: var(--background-color-header);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

/* Ajuste para mobile */
@media (max-width: 900px) {
    .personal-information,
    .grid-1,
    .grid-2,
    .medical-history .container-med,
    .sport,
    .motive,
    .calendario,
    .registro-alimentario {
        display: block; /* todo apilado */
        width: 100%;
        label{
            font-size: 15px;
        }
        input, textarea, select, label {
            width: 80%; /* ocupan todo el ancho */
            margin-bottom: 10px; /* separacion entre campos */
        }
    }


    .blood-analisis div,
    .recent-studies div,
    .suplementation div {
        display: flex;
        flex-direction: row; /* radios alineados horizontal */
        gap: 10px;
    }

    .button-send {
        text-align: center;
        margin-top: 20px;
    }

    .title-form h2 {
        font-size: 1rem; /* ajustar tamaño títulos */
        width: 70%;
    }

    .calendario{

        h2{
            width: 80% !important;
        }
    }

}