.input-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;

    input{
        width: 50%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-family: var(--font-family);
        align-self: center;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
}