.container-schedule {
  align-items: center; /* centra verticalmente cada día */
  justify-content: space-around;
  margin-top: 15px;
  width: 70%;
}

.container h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

.day-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 98%;
}

.day-label {
  display: flex;
  align-items: center;
  width: 46%;
  font-weight: 500;
  box-sizing: border-box;
}

.time-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}

.time-inputs label {
  font-size: 18px;
  color: #444;
  width: 100%;
}

.time-inputs input[type="time"] {
  padding: 4px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;

}

input[type="checkbox"]{
    display: none;
}

span{
    font-size: 1.2rem;
    padding: 7px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    box-sizing: border-box;
}
input[type="checkbox"]:checked + span {
    background-color: var(--background-color-header);
    color: white;
    border-color: white;
    border-radius: 5px;
    padding: 7px;
    box-sizing: border-box;
}

@media(max-width : 1000px) {
    .container-schedule {
        display: flex;
        flex-direction: column;
        justify-items: flex-start; /* centra horizontalmente cada día */
        align-items: center; /* centra verticalmente cada día */
        margin-top: 15px;
        margin: 10px;
    }

    .day-row {
        display: grid;
        grid-template-columns: 300px 300px; /* izquierda: día / derecha: inputs */
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }
}